
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    font: 16px/24px 'FuturaLight';
}

.flex-item {
    padding:  5px 15px;
    width: 30%;
    height: auto;
    margin: 15px 10px;
    color: white;
    border: solid 1px white;
    }
.flex-item ul {list-style: none; margin: 0 0 25px; padding: 0}
.flex-item li {width: 100%; float: left; border-left: solid 5px rgba(0,0,0,0); }
.flex-item li.special, label.special {border-left: solid 5px #815725; }
label.special {padding-left: 10px;}
.flex-item li span {width: 50%; display: table-cell; padding: 5px 10px ; float: left; box-sizing: border-box;}
.flex-item h4 {font: 18px/24px 'Futura_ICG'; text-align: center; width: 100%; background: #5b1010; float: left; padding: 5px 10px;}

@media (max-width:768px) {
	.welcome__text .swiper-slide h2 {font-size: 30px; line-height: 40px;}
	.welcome__text .swiper-slide p {font: 16px; line-height: 22px;}
	.welcome__text .swiper-slide aside {padding: 0 30px;}
	.description .container {padding: 0;}
	.gallery-first {height: auto!important; max-height: 400px;}
	/*.description .gallery .swiper-slide img {width: 100%!important; height: 100%!important; object-fit: cover!important;}*/
	.welcome:after {height: 96%;}
	.rest {height: auto!important;}
	.restaurant__gallery a img, .casino__elements .row .banner-facilities img {width: 100%!important; height: auto!important; object-fit: initial!important;}
	.restaurant__gallery a, .casino__elements .row .banner-promo, .promo .container .row .images .swiper-container .swiper-wrapper .swiper-slide {height: auto!important;}
	.container {box-sizing: border-box!important; padding-bottom: 40px;}
	.footer__logo img {float: none!important; margin: 0 auto!important}
	.footer__logo {text-align: center!important;}
	.cta form h3 {display: block!important; max-width: 270px; margin: 0 auto}
	.cta .control-wrapper:last-child {display: block!important;}
	.banners .list .item .link a {margin: 20px 0!important; font-size: 20px!important;}
	.casino__elements .row .banner-facilities {width: 100%!important; height: auto!important;}
	.flex-item {width: 45%}
	.contactform {padding: 0!important}

  .promo .images .swiper-slide .meta { opacity: 1!important;}
  .promo .images .swiper-slide .meta span { margin-top: 30px!important; }
  .rooms__list .item { height: 539px; }
  .rooms__list .item img { width: 100%!important; height: 100%!important; object-fit: cover; }
}
@media (min-width:767px) {
	.rest {height: auto!important;}

}
@media (max-width:560px) {
	.flex-item {width: 100%; display: block;}
	.contactform li.col2 {width: 100%!important; float: left; display:block; padding: 10px}
	.contactform li.col2:nth-child(odd), .contactform li.col2:nth-child(even) {padding: 10px 0;}
	.contactform {padding: 0!important}
	.contactform li.col1 {padding: 10px 0;}
	.contact-poro, .contact-rizal {width: 100%; display: block; margin-bottom: 30px}
}
