.first-half,
body.homepage {
    background-image: url(../img/pattern-top.png)
}

.first-half,
.first-half:after,
body.homepage {
    background-position: center bottom;
    background-repeat: no-repeat
}

.first-half,
.first-half:after,
.second-half,
body.homepage {
    background-repeat: no-repeat
}

.first-half:after,
body.red-background .footer:before {
    width: 100%;
    height: 20px;
    left: 0;
    background-size: cover;
    right: 0
}

.first-half,
.first-half:after,
.second-half,
.welcome,
body.homepage {
    background-size: cover
}

.welcome__text .swiper-slide h2,
.welcome__text .swiper-slide p {
    font-family: Futura_ICG;
    font-weight: 400;
    color: #fff
}

.clearfix:after,
.header:after {
    clear: both;
    content: ''
}

.article.with-line .text:after,
.clearfix:after,
.description .text:before,
.first-half:after,
.header:after,
.welcome:after,
.welcome__text .swiper-slide h2:after,
body.red-background .footer:before {
    content: ''
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v11/CdKWaRAal2Bxq9mORLKRRYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v11/eWRmKHdPNWGn_iFyeEYja22J9yQRHHBhlmQmXC5U5ok.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v11/IVeH6A3MiFyaSEiudUMXE-LrC4Du4e_yfTJ8Ol60xk0.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v11/BYPM-GE291ZjIXBWrtCwetIZ6OFpBzzPr7LueGMiD8k.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v11/q2OIMsAtXEkOulLQVdSl07h9hBNNhK4RjzVManoH7kY.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v11/H8_7oktkjVeeX06kbAvc0I3SmTH8Evs8V90CYwW3JLk.ttf) format('truetype')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v11/aEu-9ATAroJ1iN4zmQ55Bl6YDbH3175F1es-Zl7mOpU.ttf) format('truetype')
}

@font-face {
    font-family: Pacifico;
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v10/fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

body,
html {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden!important
}
img {max-width: 100%;}
a:focus {
    outline: 0!important
}

article,
aside,
audio,
canvas,
caption,
details,
div,
figure,
footer,
header,
hgroup,
iframe,
img,
mark,
menu,
nav,
object,
section,
span,
summary,
table,
tbody,
td,
tfoot,
thead,
tr,
video {
    border: 0;
    margin: 0;
    padding: 0
}

a,
abbr,
address,
b,
blockquote,
cit,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
i,
ins,
label,
legend,
li,
ol,
p,
pre,
q,
samp,
small,
strong,
sub,
sup,
ul {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
nav,
section,
video {
    display: block
}

table {
    border-collapse: separate;
    border-spacing: 0
}

table caption,
table td,
table th {
    text-align: left;
    vertical-align: middle
}

a img {
    border: 0
}

:focus {
    outline: 0
}

.clearfix:after {
    display: table
}

::-webkit-input-placeholder {
    opacity: 1!important
}

:-moz-placeholder {
    opacity: 1!important
}

::-moz-placeholder {
    opacity: 1!important
}

:-ms-input-placeholder {
    opacity: 1!important
}
img {width: auto; height: auto; max-width: 100%;}
.first-half {
    position: relative;
    padding-bottom: 20px
}

.first-half:after {
    background-image: url(../img/pattern-line.png);
    position: absolute;
    bottom: 0
}

.second-half {
    background-image: url(../img/pattern-bottom.png);
    background-position: center top
}

body.red-background .first-half {
    background-image: url(../img/pattern-top-red.png)
}

body.red-background .second-half {
    background-image: url(../img/pattern-bottom-red.png)
}

body.red-background .footer {
    margin-top: 40px;
    position: relative
}

#status,
body.red-background .footer:before {
    position: absolute;
    background-repeat: no-repeat
}

body.red-background .footer:before {
    background-image: url(../img/pattern-line.png);
    background-position: center bottom;
    top: 0
}

body.red-background .cta {
    background-color: #5b1010
}

body.red-background .cta input[type=text] {
    background-color: #26416f!important
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99
}

#status {
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    background-image: url(../img/preloader.svg);
    background-position: center;
    margin: -100px 0 0 -100px
}

@font-face {
    font-family: Futura_ICG;
    src: url(../fonts/Futura_ICG.ttf), url(../fonts/futura_icg-webfont.woff);
}

@font-face {
    font-family: FuturaLight;
    src: url(../fonts/Futura-Std-Light.ttf), url(../fonts/Futura-Std-Light.woff);
}

@font-face {
    font-family: FuturaT_Bold;
    src: url(../fonts/FuturaT_Bold.ttf), url(../fonts/futurat_bold-webfont.woff);
}

@font-face {
  font-family: dearJoe_Four;
  src: url(../fonts/dJ4TRIAL.ttf), url(../fonts/dj4trial-webfont.woff);
}

.welcome {
    height: 900px;
    /*float: left;*/
    width: 100%;
    /*background-image: url(../img/background-welcome.jpg);
    background-repeat: no-repeat;
    background-position: center top;*/
    position: relative
}

.welcome:after {
    background-color: rgba(38, 65, 111, .8);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.welcome .container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 0;
}

.welcome__text .swiper-container {
    padding-bottom: 80px
    height: 100%;
    width: 100%; float: left;
}

.welcome__text .swiper-slide {
    text-align: center;
    position: relative
}
.welcome__text .swiper-slide aside {position: absolute; top: 35%; left: 0; z-index: 10; width: 100%; padding: 0 50px; box-sizing: border-box; float: left; text-align: center;}
.welcome__text .swiper-slide .sliderimg {position: relative; overflow: hidden; top: 0; overflow: hidden; opacity: 0.5; left: 0; z-index: 1; width: 100%; float: left; height: 900px; }
.welcome__text .swiper-slide .sliderimg img {width: 100%; height: 100%; object-fit: cover;}

.welcome__text .swiper-slide h2 {
    font-size: 52px;
    text-align: center
}

.welcome__text .swiper-slide h2:after {
    width: 150px;
    height: 3px;
    background-color: rgba(255, 255, 255, .5);
    margin: 40px auto 30px;
    display: block
}

.welcome__text .swiper-slide p {
    font-size: 18px
}

.welcome__text .swiper-slide span {
    margin: 25px 0 10px;
    display: block;
    font-family: dearJoe_Four, Pacifico, sans-serif;
    font-size: 42px;
    color: #fff
}

.header__nav ul li a,
.welcome__text .swiper-slide a.btn {
    display: inline-block;
    -webkit-transition: all .2s ease-out;
    text-transform: uppercase
}

.welcome__text .swiper-slide a.btn {
    font-family: FuturaT_Bold;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    width: 170px;
    padding: 8px 0;
    text-align: center;
    border: 3px solid #fff;
    margin: 0 50px;
    transition: all .2s ease-out
}

.footer p,
.header__nav ul li a,
.location article {
    font-family: Futura_ICG, Montserrat, sans-serif;
    font-weight: 400
}

.welcome__text .swiper-slide a.btn:hover {
    text-decoration: none;
    background-color: #fff;
    color: #26416f
}

.welcome__text .swiper-pagination {
    bottom: 20px;
    z-index: 3
}

.welcome__text .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    background-color: transparent;
    -webkit-border-radius: 100%;
    opacity: 1;
    border-radius: 100%
}

.welcome__text .swiper-pagination-bullet-active {
    background-color: #fff
}

.welcome .swiper-button-next,
.welcome .swiper-button-prev {
    background-image: url(../img/slider-arrow.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 52px;
    background-size: auto;
    opacity: 1;
    margin-top: -15px
}

.welcome .swiper-button-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 50px
}

.welcome .swiper-button-prev {
    left: 50px
}
/* April Additional CSS*/
.contactheader {height: 300px!important;}
.contactheader:after { background: transparent!important; }
.pagewrapper3 {width: 1050px; max-width: 90%; margin: 20px auto;}
.contact-poro, .contact-rizal {width: 50%; display: table-cell; float: left; color: white; font: 16px/24px 'FuturaLight';}
.contact-poro h4, .contact-rizal h4 {font: 20px/26px 'Futura_ICG'; font-weight: 400px; margin: 0;}
.contact-poro h5, .contact-rizal h5 {font: 18px/24px 'Futura_ICG'; font-weight: 400px; margin: 0;}
.contact-poro p, .contact-rizal p {font: 16/24px 'FuturaLight';  margin: 0 0 15px;}
.contactform {width: 100%; float: left; display: block; clear: both; padding: 30px 80px; box-sizing: border-box;}
.contactform ul {list-style: none; margin: 0; padding: 0;}
.contactform li {position: relative;}
.contactform li.col2 {width: 50%; float: left; display: table-cell; padding: 10px}
.contactform li.col2:nth-child(odd) {padding-right: 30px;}
.contactform li.col2:nth-child(even) {padding-left: 30px;}
.contactform li.col1 {width: 100%; float: left; display: table-cell; padding: 10px;}
.contactform input[type="text"], .contactform input[type="email"], .contactform select, .contactform textarea {width: 100%; float: left; padding: 5px 10px; box-sizing: border-box;
    border: solid 1px white; border-radius: 0; appearance: none; -webkit-appearance: none;}
    .contactform textarea {height: 80px;}
    .contactform input[type="submit"] {border: solid 1px white; padding: 10px 25px; background: transparent;appearance: none; -webkit-appearance: none; color: white; font: 16px/24px 'Futura_ICG'; font-weight: 400px;}
    .contactform input[type="submit"]:hover {background: #26416f}
.contactform label {width: 100%; float: left; margin-bottom: 5px;color: white; font: 16px/24px 'FuturaLight';}
.contactform span {width: 100%; float: left;}

/* End Additional CSS */
.header {
    margin: 20px 0 60px;
    position: absolute; top: 0; z-index: 100;
    width: 100%; float: left;
}
.header .pagewrapper {width: 1050px; max-width: 90%; margin: 20px auto;}
.header__logo {
    float: left
}

.header__nav {
    float: right
}

.header__nav ul {
    list-style: none;
    margin-top: 50px
}

.header__nav ul li {
    float: left;
    margin-left: 60px;
    position: relative
}

.header__nav ul li a {
    font-size: 18px;
    color: #fff;
    transition: all .2s ease-out;
    border-bottom: 2px solid transparent
}

.header__nav ul li a:hover {
    text-decoration: none;
    border-color: #fff
}

.header__nav ul li.active a {
    border-color: #fff
}

.header__nav ul li ul {
    position: absolute;
    display: none;
    top: -15px;
    left: -20px;
    background-color: rgba(38, 65, 111, .8);
    min-width: 200px
}

.header__nav ul li ul.rizal-sub {background-color: rgba(98,8,18,0.8)!important;}

.header__nav ul li ul li {
    margin-left: 0;
    display: block;
    float: none
}

.header__nav ul li ul li a {
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
    display: block
}

.header__nav ul li ul li:last-child {
    border-bottom: 0
}

.header__nav ul li ul li:last-child a {
    border-bottom: 0
}

.header__nav ul li.has-subnav {
    padding-bottom: 10px
}

.header__nav ul li.has-subnav>a {
    padding-right: 25px;
    background-image: url(../img/nav-arrow.png);
    background-repeat: no-repeat;
    background-position: right 40%
}

.header__nav ul li.has-subnav:hover ul {
    display: block
}

.header__nav ul li.has-subnav:hover>a {
    border-bottom: 2px solid #fff
}

.header:after {
    display: table
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    margin-top: 50px;width: 100%; float: left;
}

.footer .container {
    position: relative
}

.footer .container .top {
    position: absolute;
    right: 0;
    top: -60px
}

.footer p {
    font-size: 12px;
    color: #757575
}

.footer__text {
    text-align: left;
    padding-left: 0
}

.footer__text p {
    font-family: FuturaLight!important;
    font-size: 14px!important;
    color: #fff!important;
    font-weight: 400!important;
    line-height: 22px
}

.footer__text p strong {
    font-family: FuturaT_Bold, Montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff
}

.footer__text a {
    font-family: FuturaLight;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 22px
}

.footer__text a.tel img {
    margin-right: 15px
}

.footer__logo img,
.footer__text .social a,
.footer__text a.email img {
    margin-right: 10px
}

.footer__text .social {
    margin-top: 5px
}

.footer__subscribe form input[type=email] {
    border: 0;
    padding: 5px;
    color: #000;
    display: inline-block;
    width: 150px
}

.footer__subscribe form input[type=submit] {
    font-family: FuturaT_Bold;
    font-size: 16px;
    color: #000;
    margin-left: -4px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 4px 5px;
    background-color: #d9be90;
    display: inline-block;
    border: 0
}

.footer__nav ul li a,
.footer__subscribe a {
    font-size: 12px;
    color: #fff;
    font-weight: 400
}

.footer__subscribe .span2>a img {
    margin-bottom: 10px
}

.footer__subscribe a {
    font-family: FuturaLight;
    text-decoration: underline
}

.footer__logo img {
    width: 260px;
    height: auto;
    float: right
}

.footer__nav ul {
    list-style: none;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px
}

.footer__nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative
}

.footer__nav ul li a {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border-bottom: 2px solid transparent
}

.footer__nav ul li a:hover {
    text-decoration: none;
    border-color: #fff
}

.footer__nav ul li.active a {
    border-color: #fff
}

 }
.description {
    text-align: center;
    padding-bottom: 25px;
    position: relative;
    width: 100%; float: left;
    z-index: 999; margin-top: -15px;
}

.divider {background: url(../img/divider.jpg) no-repeat center top; width: 100%; float: left; height: 5px; margin: 70px 0 50px; background-size: cover;}
.description .container {width: 90%; padding: 0 50px; box-sizing: border-box;}

.description .text {
    padding: 40px 0 100px;
    position: relative;
    z-index: 1;
    margin-bottom: -80px
    width: 100%;
    float: left;
}

.description .text:before {
    width: 1000px;
    height: 100%;
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, .3)*/
}
.description .text .inner img {float: left; position: absolute; top: 40px; left: 0;width: 310px;}
.description .text .inner aside {width: 100%; float: left; text-align: left; padding-left: 310px; box-sizing: border-box; min-height: 200px;}

.description .gallery .swiper-slide-next,
.description a.btn {
    background-color: #26416f
}

.description .text.right:before {
    left: 0
}

.description .text.left:before {
    right: 0
}

.description .text img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px
}

.description .text h2 {
    font-family: FuturaT_Bold;
    font-size: 28px;
    /*color: #989898;*/
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0 80px
}

.description .text p {
    text-align: left;
    font-family: FuturaLight;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    padding: 0 80px
}

.description .gallery {
    padding: 40px 0;
    position: relative;
}

.description .gallery .swiper-container {
    width: 100%; padding: 0 50px; box-sizing: border-box;
}

.description .gallery .inner {position: relative;}

.description .gallery .inner .swiper-button-next,
.description .gallery .inner .swiper-button-prev {
    width: 51px;
    height: 51px;
    background-image: url(../img/slider-arrow-circle.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: -25px;
    position: absolute;
    z-index: 500;
    top: 50%;
}

.description .gallery .inner .swiper-button-next {
    right: 33%;
}

.description .gallery .inner .swiper-button-prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 33%
}

.description .gallery .inner.second .swiper-container {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 0;
}
.description .gallery .second .swiper-button-next,
.description .gallery .second .swiper-button-prev {
	position: absolute;
	top: 50%!important;
}
.description .gallery .second .swiper-button-next {
    right: 33%;
    top: 50%;
}

.description .gallery .second .swiper-button-prev {
    left: 33%;
    top: 50%;
}

.description .gallery .swiper-slide {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 33.3333%;
}

.description .gallery .swiper-slide figure {height: 300px; overflow: hidden;}

.description .gallery .swiper-slide figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description .gallery .swiper-slide figure  div {top: 0; left: 0; right: 0; bottom: 0; position: absolute; z-index: 1; background: #28426d; opacity: 0.5}
.description .gallery .swiper-slide-active figure  div {opacity: 0;}
/*IE Edge*/
@supports (-ms-ime-align:auto) {
    .description .gallery .swiper-slide figure {
    background-size: cover;
    background-position: center;
}
.description .gallery .swiper-slide figure img {
    opacity: 0;
    width: auto;
    height: 100%;
    float: left;

}
.description .gallery .swiper-slide figure  div {top: 0; left: 0; right: 0; bottom: 0; position: absolute; z-index: 1; background: #28426d; opacity: 0.5}
.description .gallery .swiper-slide-active figure  div {opacity: 0;}
}
.description .gallery .cover {
    background-size: cover;
    background-position: center;
}
.description .gallery .cover img {
    opacity: 0;
}
.description .gallery .swiper-slide h4 {position: absolute; display: none; z-index: 100; top: 25px; left: 25px; text-shadow: 1px 1px 1px rgba(0,0,0,0.5); font-size: 40px; text-transform: uppercase; color: white;}
.description .gallery .swiper-slide-active {
    position: relative
}
.description .gallery .swiper-slide-active h4 {display: block;}

.description .gallery .swiper-slide-active:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 20px;
    right: 20px;
    border: 2px solid #fff;
    display: block
}

.description .gallery .swiper-slide-prev img, .description .gallery .swiper-slide-next img {
    opacity: .5
}

.description a.btn {
    padding: 9px 0;
    text-align: center;
    font-family: FuturaT_Bold;
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    display: block;
    width: 280px;
    margin: 0 auto;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    position: relative;
    z-index: 2
}
.cta .container {width: 1280px; max-width: 100%;}
.cta .control-wrapper .calendar-label,
.cta h3 {
    font-family: Futura, Montserrat, sans-serif;
    color: #fff
}

.description a.btn:hover {
    text-decoration: none;
    background-color: #335795
}

.description a.btn:focus {
    text-decoration: none;
    background-color: #192b49
}

body.inner_page .welcome {
    height: auto;
    background-image: none
}

body.inner_page .welcome:after {
    display: none
}

body.inner_page .welcome>img {
    width: 100%;
    height: auto
}

body.inner_page .header {
    margin: 0 0 20px;
    position: relative;
}

body.inner_page .header__logo {
    float: none;
    width: 100%;
    margin-bottom: 0
}

body.inner_page .header__logo img {
    display: block;
    margin: 50px auto 0
}

body.inner_page .header__nav {
    float: none;
    margin: 0 auto;
    text-align: center
}

body.inner_page .header__nav>ul {
    display: inline-block
}

body.inner_page .header__nav ul li {
    margin-left: 25px
}

body.inner_page .header__nav ul li ul {
    text-align: left
}

.article .text.text-center,
.article h2 {
    text-align: center
}

body.inner_page .header__nav ul li ul li {
    margin-left: 0
}

body.inner_page .footer {
    background-color: transparent
}

body.inner_page .footer a,
body.inner_page .footer p {
    color: #fff
}

body.inner_page .footer .container {
    padding-top: 20px;
    border-top: 2px solid #a8b2ba
}

.cta {
    padding: 20px 0;
    background-color: #26416f
}

.cta form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cta h3 {
    font-weight: 600;
    font-size: 18px;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 10px
}

.cta h3 span.check {
    width: 28px;
    height: 26px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 2px
}

.cta h3 a.tip {
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-image: url(../img/question.png);
    background-repeat: no-repeat;
    float: right;
    margin-left: 5px;
    margin-top: 3px
}
.cta h3 a.tip2 {
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background-image: url(../img/question2.png);
    background-repeat: no-repeat;
    float: right;
    margin-left: 5px;
    margin-top: 3px
}

.cta .control-wrapper .calendar-label {
    float: left;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 6px
}

.cta .control-wrapper .calendar-input {
    float: left
}

.cta .control-wrapper .calendar-input input {
    border: 1px solid #fff;
    padding: 5px 10px;
    background-color: transparent
}

.cta .control-wrapper .calendar-input input::-webkit-input-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input::-moz-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input:-moz-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input:-ms-input-placeholder {
    color: #fff
}

.cta .control-wrapper .calendar-input input.hasDatepicker {
    width: 150px;
    background-image: url(../img/calendar-icon.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    font-family: FuturaLight;
    font-size: 14px;
    color: #fff;
    font-weight: 400
}

.cta .control-wrapper .rizal-calendar input.hasDatepicker {background: #620812 url(../img/calendar-icon.png) no-repeat 95% center!important;}
.cta .control-wrapper .rizal-calendar input#promo_code {background-color: #620812!important}
.cta .rizal-calendar input[type=submit] {color: #620812!important}
.cta .rizal-calendar input[type=submit]:hover {background-color: #620812!important; color: white!important}

.cta .control-wrapper .calendar-input input#promo_code {
    font-family: FuturaLight;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    width: 195px;
    /*border-left: 0;*/
    margin-left: -4px
}

.cta .control-wrapper input[type=submit] {
    font-family: FuturaLight, Montserrat, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #26416f;
    text-transform: uppercase;
    background-color: #fff;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.cta .control-wrapper input[type=submit]:hover {
    background-color: #26416f;
    color: #fff
}

.article {
    padding: 50px 0
}

.article h2 {
    font-family: Futura_ICG;
    font-size: 48px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 40px 10px;
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}

.article.with-line .text:after {
    width: 315px;
    height: 5px;
    display: block;
    margin: 20px auto;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .9)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .9) 50%, rgba(255, 255, 255, 0) 100%)
}

.article .text h3,
.article .text h4,
.article .text p {
    margin-bottom: 15px;
    font-weight: 400
}

.article .text h3 {
    font-family: dearJoe_Four, Pacifico, sans-serif;
    font-size: 32px;
    color: #e1e3f9
}

.article .text h4 {
    font-family: FuturaLight;
    font-size: 22px;
    color: #fff
}

.article .text h4 strong {
    font-family: FuturaT_Bold;
    font-size: 25px;
    color: #fff;
    font-weight: 400
}

.article .text p {
    font-family: FuturaLight, sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 28px
}

.article .text.text-center:after {
    display: none
}

.article a.btn, .location a.btn {
    font-family: FuturaT_Bold;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 25px;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.article a.btn:hover {
    text-decoration: none;
    opacity: .7
}

.article .image.left {
    position: relative
}

.article .image.left img {
    position: absolute;
    right: 15px;
    top: 0
}

.article>.text-center {
    margin-top: 70px;
    text-align: center
}

.spacing-80 {
    height: 80px
}

.promo .container {
    position: relative
}

.promo .container:after,
.promo .container:before {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 50px;
    display: block
}

.promo .container:after {
    width: 150px;
    background: #fff;
    left: 157px;
    z-index: 1
}

.promo .container:before {
    width: 848px;
    background: #26416f;
    z-index: 2;
    left: 307px
}

.promo .text p {
    margin-top: 20px;
    font-family: FuturaLight;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 28px
}

.promo .text p strong {
    font-family: FuturaT_Bold, Montserrat, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff
}

.promo .images .swiper-container {
    width: 1368px
}

.promo .swiper-button-next,
.promo .swiper-button-prev {
    width: 26px;
    height: 51px;
    opacity: 1;
    background-image: url(../img/handler.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 0;
    left: 115px;
    top: auto;
    bottom: 26px
}

.promo .swiper-button-next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: auto;
    left: 141px
}

.promo .swiper-scrollbar {
    z-index: 9;
    height: 3px;
    background-color: #fff;
    bottom: 50px;
    left: 100px;
    margin-right: 100px
}

.promo .swiper-scrollbar-drag {
    width: 51px;
    height: 51px;
    background-image: url(../img/handler.png);
    background-repeat: no-repeat;
    background-color: transparent;
    top: -24px;
    cursor: pointer
}

.location {width: 100%; float: left; display: block; position: relative; clear: both; background: url(../img/locationbg.jpg)repeat-y center top; background-size: 100% auto;}
.location div.line {width: 100%; float: left; background: url(../img/pattern-line.png) no-repeat center top; height: 12px; background-size: 100% auto; margin-bottom: 40px; }
	.location div.container {max-width: 90%;}
	.location div {position: relative;}
	.location article {width: 100%; padding-right: 400px; color: white; min-height: 420px; box-sizing: border-box; float: left; padding-bottom: 40px;}
	.location article h4 {font:300 24px/30px Futura_ICG, Montserrat, sans-serif; text-transform: uppercase; margin-bottom: 15px;}
	.location article ol, .location article p {margin-bottom: 10px; font: 100 16px/22px FuturaLight, Montserrat, sans-serif; margin-left: 20px;}
	.location article li {margin-bottom: 5px;}
	.location article p {margin-left: 0; }
	.location aside {position: absolute; top:  40px; right: 0; width: 380px; float: right;}
body.inner_page footer.footer {width: 100%; float: left; margin-top: 0; background: #00071a!important; }
body.red-background .location {background: url(../img/pattern-bottom-red.png) repeat-y center -400px; background-size: 100% auto}
body.red-background .location div.line2 {width: 100%; float: left; height: 3px; background: white; margin-bottom: 40px; }
body.red-background footer.footer {background: url(../img/pattern-bottom-red.png) repeat-x center bottom!important; background-size: cover;}

@media (max-width:1200px) {
	.header__logo img {width: 220px;}
	.welcome__text .swiper-slide aside {top: 25%;}
    .welcome .swiper-button-next {
        right: 20px
    }
    .welcome .swiper-button-prev {
        left: 20px
    }
    .description .gallery .swiper-container {
        width: auto;
        -webkit-transform: none!important;
        transform: none!important
    }
    .description .gallery .inner {
        margin-left: 0!important;
        padding-left: 0
    }
    .description .gallery .inner .swiper-container {
        margin-left: 0!important
    }
    .description .gallery .inner .swiper-button-next {
        right: 5px!important
    }
    .description .gallery .inner .swiper-button-prev {
        left: 5px!important
    }
    .cta form {
        display: block;
        text-align: center
    }
    .cta form h3 {
        display: inline-block;
        margin-bottom: 10px
    }
    body.inner_page .header {
        margin-top: 0
    }
    .promo .container:after {
        width: 100px
    }
    .promo .container:before {
        width: 600px;
        left: 257px
    }
}

@media (max-width:992px) {
    .article .row,
    .description .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    .header__logo img {
        width: 200px;
        height: auto
    }
    .header__nav ul li {
        margin-left: 25px
    }
    .description .gallery .swiper-slide-active:before {
        display: none
    }

    .header__nav ul li a {
        font-size: 12px
    }
    .control-wrapper {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px
    }
   /* .article .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .article .text {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        margin-bottom: 20px
    }*/
    .article .text .spacing-80 {
        display: none
    }
    .article .image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .article .image img {
        width: 100%;
        height: auto;
        position: static!important
    }
    .footer__subscribe form input[type=submit] {
        margin-top: 10px;
        margin-left: 0
    }
    .promo .container:after {
        width: 110px
    }
    .promo .container:before {
        width: 400px;
        left: 265px
    }
    .description .text .inner {text-align: center;}
    .description .text .inner aside {padding-left: 0; text-align: center;}
    .description .text .inner img {position: relative; text-align: center; float: none; margin: 0 auto 80px;}
    .description .text h2, .description .text p {padding: 0; text-align: center;}
}

@media (min-width:768px) {
    .hamb {
        display: none
    }
}

@media (max-width:767px) {
    .article .text,
    .description .text p,
    .footer__text,
    .header__nav ul {
        text-align: center
    }
    .header__logo {
        float: none;
        width: 100%
    }
    .header__logo img {
        display: block;
        margin: 0 auto
    }
    .description .gallery .swiper-slide img {
        width: 100%;
        height: auto
    }
    .description .text p {
        padding: 0
    }
    .welcome__text .swiper-slide .sliderimg, .welcome {height: 700px}
    .welcome__text .swiper-slide aside {top: 40px}
    .row {
        margin-left: 0;
        margin-right: 0
    }
    .header {
        margin-bottom: 30px
    }
    .header__nav ul {
        margin-top: 30px
    }
    .header__nav ul li {
        margin: 0 10px 10px;
        float: none;
        display: inline-block
    }
    .welcome__text .swiper-slide h2 {
        font-size: 26px
    }
    .welcome__text .swiper-slide h2:after {
        margin: 15px auto
    }
    .welcome .swiper-button-next,
    .welcome .swiper-button-prev,
    .welcome__text .swiper-slide p br {
        display: none
    }
    .welcome__text .swiper-slide a.btn {
        font-size: 16px;
        width: 120px;
        margin: 0 10px
    }
    .welcome {
        height: auto;
        padding-bottom: 40px
    }
    body.inner_page .header__logo img {
        width: 160px;
        height: auto;
        margin-top: 15px
    }
    .cta .control-wrapper .calendar-label {
        float: none;
        display: block;
        text-align: center;
        width: 100%
    }
    .cta .control-wrapper .calendar-input input#promo_code {
        width: 160px
    }
    .description .text .inner img {max-width: 250px}
    .article h2 {
        font-size: 34px
    }
    .article .text h3 {
        font-size: 28px
    }
    .article.with-line .text:after {
        width: 220px
    }
    .promo .images .swiper-container {
        width: 100%;
        height: auto;
    }
    .promo .images .swiper-container .swiper-slide img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto
    }

    .description a.btn {width: 200px; font-size: 20px;}
 	.description .gallery .swiper-slide-active h4 {font-size: 20px;}
    .footer__nav,
    .header__nav {
        display: block;
    }
    .header__nav {width: 100%;}
    .promo .swiper-scrollbar {
        left: 0;
        margin-right: 0;
        margin-top: 30px;
        bottom: auto
    }
    .promo .text {
        margin-bottom: 30px
    }
    .footer__logo,
    .footer__subscribe,
    .footer__text {
        margin-bottom: 20px
    }
    .footer__text {
        padding-left: 15px
    }
    .footer__logo img {
        margin-right: 0
    }
    body.inner_page .header__nav ul li {
        width: 100%;
        margin-left: 0;
        margin-right: 0
    }
    .header__nav ul li.has-subnav>a {
        margin-left: 25px
    }
    .header__nav ul li ul {
        z-index: 9;
        position: static;
        margin-top: 10px;
        margin-bottom: -15px;
        background-color: transparent;
        text-align: center!important
    }
    .header__nav ul li ul a {
        border: 0!important;
        padding: 0!important
    }
    .header__nav ul li.has-subnav {
        padding-bottom: 0
    }
    .header {
        position: relative
    }
    .hamb {
        width: 30px;
        display: block;
        position: absolute!important;
        right: 15px;
        top: 15px
    }
    .hamb img {
        width: 100%;
        height: auto
    }
    .promo .container:after,
    .promo .container:before {
        display: none
    }
    .promo .swiper-button-next {
        right: 50%;
        left: auto;
        margin-right: -26px;
        bottom: -25px
    }
    .promo .swiper-button-prev {
        left: 50%;
        margin-left: -26px;
        bottom: -25px
    }
    .location article {padding-right: 0;}
    .location aside {position: relative; width: 100%; text-align: center;}
    .location article h4 {font-size: 20px;}
    .location ol, p {font-size: 16px;}
}

.daterangepicker.dropdown-menu { display: none; }

/*IE Edge*/
@supports (-ms-ime-align:auto) {
    /*landing page*/
    .promo-slider .swiper-wrapper .swiper-slide { background-size: cover; background-position: center; }
    .promo-slider .swiper-wrapper .swiper-slide img { opacity: 0; }
}

/*IE 11*/
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /*landing page*/
    .promo-slider .swiper-wrapper .swiper-slide { background-size: cover; background-position: center; }
    .promo-slider .swiper-wrapper .swiper-slide img { opacity: 0; }
}
